# --- Các file/thư mục cần bỏ qua của Maven/Spring Boot ---
# Thư mục chứa file đã biên dịch
/target/
# Thư mục biên dịch cũ
/bin/
# File đã biên dịch
*.class

# --- Các file cấu hình riêng của IDE ---
# Eclipse/STS files
.project
.classpath
.settings/

# IntelliJ IDEA files
*.iml
.idea/

# Logging/Temporary files
*.log
/temp/